* {
    font-family: Comfortaa;
}
.font-size-24{
    font-size: 24px;
}

.font-size-20{
    font-size: 20px;
}

.white-text-color {
    color: #F5F5F5;
}

.main-text-color {
    color: #D0D0D0;
}

.main-background {
    background-color: #353535;
}

.main-color-background {
    background-color: #E1B74A;
}

.dark-text {
    color: #2F2F2F;
}

.footer {
    padding: 10px;
}

.booki-link {
    color: #E1B74A;
}
.booki-link:hover {
    color: #E1B74A;
    text-decoration: underline;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-5 {
    border-radius: 5px;
}

.logo {
    filter: invert(100%) sepia(7%) saturate(241%) hue-rotate(280deg) brightness(114%) contrast(92%);
}

.padding-button {
    margin: 12px;
    padding: 5px 30px 5px 30px;
}

.button {
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
    color: #2F2F2F;
}

.panier-button {
    padding: 6px;
    margin-right: 12px;
}

